*{
    margin: 0px;
    padding: 0px;
}
.mvhead{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    height: 100px;
}
.mvhead>form, .mvhead>h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.mvhead>form{
    width : 30%;
}
.mvhead>form>input{
    height: 40px;
}
.mvmain{
    display: flex;
    justify-content: center;
    flex-direction: row;
 
    height: 600px;
}
.headline{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    border-right: 1px solid black;
    background-color: rgba(127, 255, 212, 0.192);
}


.sptotal{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}
.sptotal:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
}
.h1{
    width: 20%;
}
.h2, .h3{
    width: 40%;
}
.sp01{
    width: 20%;
}
.sp02, .sp03{
    width: 40%;
}

.detail{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 40vw;
    border: 1px solid black;
}
.infohead, .infocontent{
    display: flex;
    justify-content: center;
    justify-content: top;
    flex-direction: column;
    width: 40%;
}