/* .header{
    height: 10vh;
    background-color: blue;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
    width: 100vw;
    height:90vh;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-right: 50px;
}
.hsearch{
    background-color: rgba(0, 0, 255, 0.226);
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
    width: 300px;
    display: flex;
    /* flex-direction: row; 
    
}
.hsearch span{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
}
form>button{
    text-align: center;
    width: 70px;
}
.c1view{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
  
    width: 300px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
}
.c1view:hover{
    background-color: black;
    color: white;
}
.selc1view{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
    width: 300px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-left: 150px;
 
    background-color: skyblue;
    flex-direction: column;

}

.spImage{
    width: 100%;
    height: 300px;

}
.cont{
    border: 1px solid black;
    width: 400px;
    background-color: white;
    padding-bottom: 10px;


    
}
h1{
    padding: 20px;
    text-align: center;
}
.spImage>img{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sp1{
    margin-top: 20px;
    font-size: 40px;
    color: gray;
    padding: 5px;
}
.sp2{
    font-size: 28px;
    padding: 5px;
}
.sp3{
    font-size: 30px;
    color: blueviolet;
    padding: 5px;
}
.sp4{
    font-size: 25px;
    padding: 5px;
}
.sp5{
    padding: 5px;
}
 */
.content{
    width: 500px;
    height: 500px;
}
.main{
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card>img{
    width: 300px;
    height: 300px;
    margin: 10px;
}