.main{
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: row;
   
    width: 100vw;
    height:100vh;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;


    flex-direction: column;
    margin: 10px;
}
.c1view{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
    width: 400px;
   
   
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
}
.c1view:hover{
    background-color: black;
    color: white;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
 
    background-color: skyblue;
    flex-direction: column;
    margin: 10px;
}

.spImage{
    width: 100%;
    height: 300px;

}
.cont{
    border: 1px solid black;
    width: 350px;
    background-color: white;
    padding-bottom: 10px;

    
}
h1{
    padding: 20px;
    text-align: center;
}
.spImage>img{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sp1{
    margin-top: 20px;
    font-size: 40px;
    color: gray;
    padding: 5px;
}
.sp2{
    font-size: 30px;
    padding: 5px;
}
.sp3{
    font-size: 30px;
    color: blueviolet;
    padding: 5px;
}
.sp4{
    font-size: 25px;
    padding: 5px;
}
.sp5{
    padding: 5px;
}