.bheader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 255, 0.822);
    color: white;
}
.content{
    display: flex;
    justify-content: center;
    align-items: top;
    align-items: center;
   
    width: 100vw;
    height: 90vh;
    flex-direction: column;
}
.rowDivFirst{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 80vw;
    height: 7vh;
    border-bottom: 1px solid gray;
}
.rowDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 80vw;
    height: 7vh;
    border-bottom: 1px solid gray;
}
.rowDiv:hover, .rowDiv:active{
    background-color: orange;
}
.col{
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

#colrank{
    width: 10%;

}
#colmovieNm{
    width: 45%;

}
#colsalesAmt{
    width: 20%;

}
#colrankInten{
    width: 10%;

}
#colaudiAcc{
    width: 15%;

}

.up{
    color: blue;
}
.down{
    color: red;
}

.rowDay{
    width: 80vw;
    height: 6vh; 
    padding: 5px;
    background-color: rgb(166, 247, 6);
    display: flex;
    justify-content: center;
    align-items: center;

}