.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: white;
    
}
.main{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}
.mydiv1, .mydiv2{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}
.mydiv1{
    width: 30vw;
    height: 90vh;
    background-color: rgba(153, 205, 50, 0.397);
}
.mydiv2{
    width: 70vw;
    height: 90vh;
}
.mydiv11, .mydiv22{

    border: solid 1px black;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mydiv11>p{
    
}

.divbt{
    margin-top: 10px;
}
.divbt>button, .divbt>span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.rere{
    background-color: yellow;
}
.rere:hover, .rere:active{
    color: black;
    cursor: pointer;
}